# macOS system files
.DS_Store

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/
build/

# Swift Package Manager
Packages/
.swiftpm/
*.xcodeproj/project.xcworkspace/

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Environment & Secrets
*.xcconfig
*.env

# Archives
*.ipa
*.xcarchive
